<!-- ROSPlan turtlebot demo; requires turtlebot_gazebo -->
<launch>

	<!-- turtlebot simulation -->
	<include file="$(find project_turtleplan)/launch/world_turtleplan.launch" >
		   <!-- remove when safe.
		   	<arg name="world_file" value="$(find turtlebot_gazebo)/worlds/turtleplan.world"/>-->
	</include>
	<include file="$(find turtlebot_gazebo)/launch/amcl_demo.launch" >
	</include>


	<!-- ROSPlan -->  
<!--<include file="$(find project_turtleplan)/launch/interface_rosplan.launch" >  -->
<!--</include>  -->

</launch>
